@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Righteous&family=Roboto:wght@300;400;500;700&family=Teko:wght@400;600&display=swap");
body {
  background-color: #efeeee;
}
.App {
  text-align: center;
}
.App h1 {
  font-family: "Righteous", cursive;
}
.App button {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  background-color: #efeeee;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  outline: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83);
  box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.5);
  font-family: "Palette Mosaic", cursive;
  text-align: center;
}
.App button:hover {
  background-color: rgba(217, 210, 200, 0.51);
}
